# DS-SF-34 | 02 | The `pandas` Library | Assignment | Starter Code

## The Bistro Meets `pandas`

You've just told one of your friend that you are taking a Data Science class.  (Yeah!)  Your friend is running a bistro, a small restaurant, serving moderately priced simple meals in a modest setting ([Wikipedia](https://en.wikipedia.org/wiki/Bistro)).  She collected over some period of time the following information of her patrons' visits.

| Variable's name | Its meaning |
|:---:|:---|
| `name` | Patron's first name |
| `gender` | Patron's gender |
| `is_smoker` | Whether the patron is smoking or not |
| `party` | Party's size |
| `check` | Check amount (\$) (after taxes but before tips) |
| `tip` | Tip (\$) that the patron added to the check |
| `day` | Week day of the visit |
| `time` | Rough time estimate of the visit |

In this assignment, we will be exploring this dataset using `pandas`.<sup>(*)</sup>

<sup>(*)</sup> this dataset was adapted from the `tips` dataset of the `seaborn` package (https://github.com/mwaskom/seaborn-data)

> ### Question 1.  Import `numpy` (as `np`) and `pandas` (as `pd`).

In [73]:
import os

# TODO
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

> ### Question 2.  Read the `dataset-02-tips.csv` dataset.

In [74]:
os.getcwd()

'/Users/ling/Desktop/ds_class/DS-SF-42/classes/02/notebooks'

In [75]:
# TODO
df = pd.read_csv('../datasets/dataset-02-bistro.csv')

> ### Question 3.  What is the class of the `pandas` object storing the dataset?

In [63]:
# TODO

df.dtypes

day           object
time          object
name          object
gender        object
is_smoker       bool
party          int64
check        float64
tip          float64
dtype: object

Answer: TODO

> ### Question 4.  How many samples (i.e., rows) are in this dataset?

In [23]:
# TODO

len(df)

244

Answer: TODO

> ### Question 5.  How many variables (i.e., columns) are in this dataset?

In [30]:
# TODO

len(df.columns)

8

Answer: TODO

> ### Question 6.  Print the name of each column in the dataset, one name per line.

In [38]:
# TODO

df.columns

Index([u'day', u'time', u'name', u'gender', u'is_smoker', u'party', u'check',
       u'tip'],
      dtype='object')

> ### Question 7.  Print the first two rows of the dataset to the console.  What does the output look like?

In [41]:
# TODO

df.head(2)

      day    time      name  gender  is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female      False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male      False      3  10.34  1.66

Answer: TODO

> ### Question 8.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [42]:
# TODO

df.tail(2)

          day    time    name  gender  is_smoker  party  check   tip
242  Saturday  Dinner     Jon    Male      False      2  17.82  1.75
243  Thursday  Dinner  Brandi  Female      False      2  18.78  3.00

Answer: TODO

> ### Question 9.  Does the dataset contain any missing values?

In [51]:
# TODO

df_null = df.isnull()

df_null.sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    0
241    0
242    0
243    0
Length: 244, dtype: int64

Answer: TODO

> ### Question 10.  What can you say about the `is_smoker` variable?  I.e., will it bring any insights when analyzing the dataset?  What do you want to do with it?  (and do it...)

In [8]:
# TODO
# want to convert True/False to 1 or 0 

df.is_smoker = df.is_smoker.map({True:1, False:0})
df

          day    time      name  gender  is_smoker  party  check   tip
0      Sunday  Dinner  Kimberly  Female          0      2  16.99  1.01
1      Sunday  Dinner  Nicholas    Male          0      3  10.34  1.66
2      Sunday  Dinner     Larry    Male          0      3  21.01  3.50
3      Sunday  Dinner    Joseph    Male          0      2  23.68  3.31
4      Sunday  Dinner    Janice  Female          0      4  24.59  3.61
..        ...     ...       ...     ...        ...    ...    ...   ...
239  Saturday  Dinner     Kevin    Male          0      3  29.03  5.92
240  Saturday  Dinner    Sandra  Female          0      2  27.18  2.00
241  Saturday  Dinner      Carl    Male          0      2  22.67  2.00
242  Saturday  Dinner       Jon    Male          0      2  17.82  1.75
243  Thursday  Dinner    Brandi  Female          0      2  18.78  3.00

[244 rows x 8 columns]

Answer: TODO

> ### Question 11.  For which week days does the dataset has data for?

In [18]:
# TODO

df['day'].unique()

array(['Sunday', 'Saturday', 'Thursday', 'Friday'], dtype=object)

Answer: TODO

> ### Question 12.  How often was the bistro patronized for each week day?

(check `.value_counts()`; it could come in handy)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [34]:
# TODO

print df

df[['day', 'time']].groupby('day').count()

          day    time      name  gender  is_smoker  party  check   tip
0      Sunday  Dinner  Kimberly  Female          0      2  16.99  1.01
1      Sunday  Dinner  Nicholas    Male          0      3  10.34  1.66
2      Sunday  Dinner     Larry    Male          0      3  21.01  3.50
3      Sunday  Dinner    Joseph    Male          0      2  23.68  3.31
4      Sunday  Dinner    Janice  Female          0      4  24.59  3.61
..        ...     ...       ...     ...        ...    ...    ...   ...
239  Saturday  Dinner     Kevin    Male          0      3  29.03  5.92
240  Saturday  Dinner    Sandra  Female          0      2  27.18  2.00
241  Saturday  Dinner      Carl    Male          0      2  22.67  2.00
242  Saturday  Dinner       Jon    Male          0      2  17.82  1.75
243  Thursday  Dinner    Brandi  Female          0      2  18.78  3.00

[244 rows x 8 columns]

          time
day
Friday      19
Saturday    87
Sunday      76
Thursday    62

Answer: TODO

> ### Question 13.  How much tip did waiters collect for each week day?

In [37]:
# TODO

df[['day', 'tip']].groupby('day').sum()

             tip
day
Friday     51.96
Saturday  260.40
Sunday    247.39
Thursday  171.83

Answer: TODO

> ### Question 14.  What is the average tip per check (in absolute \$) for each week day?

In [39]:
# TODO

df[['day', 'tip']].groupby('day').mean()

               tip
day
Friday    2.734737
Saturday  2.993103
Sunday    3.255132
Thursday  2.771452

Answer: TODO

> ### Question 15.  What is the average tip per check (as a percentage of the check) for each week day?

In [50]:
# TODO

df_tip = df[['day', 'tip']].groupby('day').mean()
df_check = df[['day', 'check']].groupby('day').mean()


df_avg_tip_per_check = df_tip['tip']/df_check['check']
print df_avg_tip_per_check

day
Friday      0.159445
Saturday    0.146424
Sunday      0.152038
Thursday    0.156732
dtype: float64

Answer: TODO

> ### Question 16.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

(check `numpy.intersect1d()`; it could come in handy)

(https://docs.scipy.org/doc/numpy/reference/generated/numpy.intersect1d.html)

In [87]:
# TODO

df_female = df[df['gender'] == 'Female']
print df_female['name']

df_male= df[df['gender'] == 'Male']
print df_male['name']

df_same = np.intersect1d(df_female['name'], df_male['name'])
df_same

0      Kimberly
4        Janice
11        Katie
14         Anne
16        Alice
         ...
226        Mary
229       Casey
238     Dorothy
240      Sandra
243      Brandi
Name: name, Length: 87, dtype: object
1      Nicholas
2         Larry
3        Joseph
5          Mark
6         Jamie
         ...
236       Henry
237      Jeremy
239       Kevin
241        Carl
242         Jon
Name: name, Length: 157, dtype: object

array(['Casey'], dtype=object)

Answer: TODO

> ### Question 17.  If no patrons share the same name, how many unique patrons are in the dataset?

In [94]:
# TODO

df_casey = df[df['name'] == 'Casey']
len(df_casey)

8

Answer: TODO

> ### Question 18.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [96]:
# TODO

df_kevin = df[df['name'] == 'Kevin']
len(df_kevin)

df_alice = df[df['name'] == 'Alice']
len(df_alice)

2

Answer: TODO

> ### Question 19.  Who are the top 3 female and male patrons?

In [146]:
# TODO

df_top = df[['name', 'time']].groupby('name').count()
df_top.sort_values('time', ascending=False)

         time
name
Casey       8
David       8
James       5
Mary        4
Carl        4
...       ...
Jamie       1
Jan         1
Javier      1
Jaycee      1
Zackary     1

[181 rows x 1 columns]

Answer: TODO

> ### Question 20.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

(check `numpy.intersect1d()`; it could come in handy)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html)

In [157]:
# TODO

df_new = df[['name', 'tip', 'check']].groupby('name').sum()
df_new['percent_tip']  = df_new['tip']/df_new['check']

df_new.sort_values('percent_tip',ascending=False)

           tip  check  percent_tip
name
Maryann   4.00   9.60     0.416667
Bailey    1.00   3.07     0.325733
Daniel    7.79  24.84     0.313607
Dennis    6.50  23.17     0.280535
Zackary   2.00   7.51     0.266312
...        ...    ...          ...
Willie    2.00  30.06     0.066534
Kimberly  1.01  16.99     0.059447
Destiny   1.50  26.41     0.056797
Mildred   2.50  44.30     0.056433
Jeremy    1.17  32.83     0.035638

[181 rows x 3 columns]

Answer: TODO

In [171]:
df_new_2 = df.groupby('name')['tip', 'check'].agg(['sum','count'])
df_new_2.columns = [['tip_sum', 'tim_count', 'check_sum', 'check_count']]
df_new_2['percent_tip']  = df_new_2['tip_sum']/df_new_2['check_sum']
df_new_2

df_new_2.sort_values('percent_tip',ascending=False)

          tip_sum  tim_count  check_sum  check_count  percent_tip
name
Maryann      4.00          1       9.60            1     0.416667
Bailey       1.00          1       3.07            1     0.325733
Daniel       7.79          2      24.84            2     0.313607
Dennis       6.50          1      23.17            1     0.280535
Zackary      2.00          1       7.51            1     0.266312
...           ...        ...        ...          ...          ...
Willie       2.00          1      30.06            1     0.066534
Kimberly     1.01          1      16.99            1     0.059447
Destiny      1.50          1      26.41            1     0.056797
Mildred      2.50          1      44.30            1     0.056433
Jeremy       1.17          1      32.83            1     0.035638

[181 rows x 5 columns]